#main_container{ :class=>"container"}
  #node{:class => "form-signin"}
    = form_for(@node) do |f|
      = f.fields_for @node.location do | location |
        = location.text_field :address, { :class=>"form-control", :placeholder=>"Address"}

      = f.submit  'Guardar', {:class=>"btn btn-lg btn-primary btn-block", :type=>"submit"}