.container
  #node{:class => "form-signin"}
    = form_for(@node) do |f|
      - if @node.errors.any?
        #errorExplanation
          %h2= "#{pluralize(@node.errors.count, 'error')} prohibited this user from being saved:"
          %ul
          - @node.errors.full_messages.each do |msg|
            %li= msg

      %input{ :class=>"form-control", :placeholder=>"Address", :value=>:address}
      %input{ :class=>"form-control", :placeholder=>"mac", :value=>:link}
      %input{ :class=>"form-control", :placeholder=>"essid", :value=>:address}
      %input{ :class=>"form-control", :placeholder=>"ip", :value=>:address}
      %input{ :class=>"form-control", :placeholder=>"Password", :value=>:address}
      %button{:class=>"btn btn-lg btn-primary btn-block", :type=>"submit"}Guardar