html, 
body,
#map {
    width: 99.5%;
    height: 99.5%;
    border:0%;
}
.jumbotron{
    width: 99.5% ;
    height: 99.5%;
    border:0%;
    padding-top: 10%;
    padding-bottom: 0%;
    padding-left: 0%;
    padding-right: 0%;
}

.container{
    width: 99.5% ;
    height: 99.5%;
    border:0%;
}

#main-bar{
	background-color: #6F5499
}

#contextMenu {
    position: absolute;
    display:none;
}