<div data-role="page" id="page1">
  <div data-theme="a" data-role="header">
  
  <h3>
    Header
  </h3>
  </div>
  <div data-role="content">
  <div id="map"></div> 
   <!-- ADD HERE <div id="os-map"></div>-->
  </div>
</div>